.article-card-group
  margin: 1em 0
  .article-card
    width: 100%
    background-color: var(--card-background-color)
    padding: 1.5em
    box-sizing: border-box
    margin-bottom: 1.5em
    .article-card-container
    .article-card-header
      margin-bottom: 0.25em
      .article-card-published
        display: block
        color: #999
        padding-bottom: 0.5em
      .article-card-title
        position relative
        font-size: card-title-size
        padding-bottom: 0.3em
        &:after
          position: absolute
          bottom: 0
          left 0
          content: ''
          height: 3px
          width: 3%
          background-color: #000
          transition: width .25s, background-color 0.25s
        &:hover
          &:after
            width 8%
            background-color: link-hover-color
          a
           color: link-hover-color
        a
          text-decoration: none
          color: var(--card-title-color)
          font-weight: bold
      .article-card-intro
        font-size: 1em
        color: #333
    footer
      display: flex
      justify-content: space-between
      margin-top: 0.5em
      
      .article-card-tag-list
        clearfix()
        .article-card-tag-list-item
          margin-right: 0.5em
          float: left
          &:last-child
            margin-right: 0
          a
            color: #999
            text-decoration: none
            &:before
              content: '#'
            &:hover
              color: link-hover-color