.article-card-group
  margin: 1em 0
  .article-card
    width: 100%
    background-color: var(--card-background-color)
    padding: 1.5em
    box-sizing: border-box
    margin-bottom: 1.5em
    .article-card-container
    .article-card-header
      margin-bottom: 0.25em
      .article-card-title
        font-size: card-title-size
        a
          text-decoration: none
          color: var(--card-title-color)
          font-weight: bold
          &:hover
            color: link-hover-color
      .article-card-intro
        font-size: 1em
        color: #333
    footer
      display: flex
      justify-content: space-between
      margin-top: 0.5em
      .article-card-published
        color: #999
      .article-card-tag-list
        clearfix()
        .article-card-tag-list-item
          margin-right: 0.5em
          float: left
          &:last-child
            margin-right: 0
          a
            color: #999
            text-decoration: none
            &:before
              content: '#'
            &:hover
              color: link-hover-color