
{{ define "main" }}
<style type="text/tailwindcss">

  
</style>
  <header class="mb-5 border-0">
    <h1 class="text-3xl mb-4 font-bold subpixel-antialiased">{{ .Title }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02 15:04:05" }}
  {{ $date := .Date | time.Format "2006-01-02" }}
  <time class="font-bold" datetime="{{ $dateMachine }}">{{ $date }}</time>
  </header>

  <div class="content">
    {{ .Content }}
  </div>
  <script>
    const images = document.getElementsByTagName("img")
    console.log(images)
  </script>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
