<header id="header">
  <div class="header-container">
    <div class="header-title">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
    </div>
    <nav id="header-nav">
      <div>
        <% for (var i in theme.menu){ %>
          <a class="header-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= theme.menuMap[i] %></a>
        <% } %>
      </div>
    </nav>
  </div>
  
</header>
