{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}
<style type="text/tailwindcss">
.tags {
  @apply float-left clear-both;
  a {
    @apply text-amber-800 hover:text-amber-600 mr-3;
  }
}
</style>
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
    <span class="tags">
      {{- range . }}
        <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
      {{- end }}
    </span>
{{- end }}
